@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html { font-size: 18px;}
    h1 { @apply text-2xl;  }
    h2 { @apply uppercase; }

    input { @apply border rounded px-1; }
    input.error { @apply border-red-600 border-2; }
    div.error { @apply text-red-600; }

    .loading * { cursor: wait; }
    .loading { opacity: 0.5; }

    .svg-icon { mask-size: 100%; -webkit-mask-repeat: no-repeat; mask-repeat: no-repeat; mask-position: center; width: 32px; height: 32px; }

    #game-controller {
        .sub .selected { @apply border-2 border-blue-600 rounded; }
        .players .disabled { @apply text-gray-400 cursor-default; }
    }

    #timeline {
        .disabled { @apply text-gray-400 cursor-default; }
    }
}
