@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 { @apply text-2xl;  }

    input { @apply border rounded px-1; }
    input.error { @apply border-red-600 border-2; }
    div.error { @apply text-red-600; }


    .svg-icon { mask-size: 100%; -webkit-mask-repeat: no-repeat; mask-repeat: no-repeat; mask-position: center; width: 24px; height: 24px; }
}